<%- include('header') -%>

<h2>
    This is the About Page
</h2>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate excepturi minus perspiciatis ipsa unde vitae
    enim? Praesentium ducimus, nemo officia tempora consequatur totam fugiat maiores molestiae neque quo velit minus?
</p>

<%- include('footer') -%>